* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 1500px;
    margin: 0px auto;
    /* border: 1px solid black; */
}

header {
    position: fixed;
    background-color: white;
    padding-right: 895px;
    border-radius: 1px;
    box-shadow: 0 0 15px teal;
    flex-wrap: wrap;
    flex: 1;
}

#logo {
    height: 80px;
    top: 10px;
}

.portadaheader {
    width: 100%;
    top: 100%;
    left: 0.5px;
    background: url(imagenes/portadaheader.png) center;
    background-size: 100%;
}

.portadaheader2 {
    height: 600px;
    width: 1497px;
    /* top: 100%;
    left: 0.5px; */
    background: url(/imagenes/quienes_somos.jpg) center;
    background-size: 100%;
}

.contenedor-texto {
    height: 800px;
    width: 1497px;
    margin-top: 95px;
}

.vacio1 {
    background-color: yellowgreen;
    height: 200px;
    margin: none;
    padding: none;
    border: none;
}

.caja-pag-productos {
    background-color: cyan;
    height: 500px;
    bottom: 50px;
}

.caja-pag-contactos {
    background-color: yellow;
    height: 500px;
}

.pag-contactos {
    font-size: 75px;
    text-align: center;
}

.pag-productos {
    font-size: 75px;
    text-align: center;
}


/* no se esta utilizando esta imagen  */


/* .img-portadaheader {
    width: 100%;
    top: 100%;
    height: 800px;
} */

.texto-h3-portadaheader {
    color: white;
    padding-top: 400px;
    padding-left: 20px;
    font-size: 30px;
}

.texto-p-portadaheader {
    color: white;
    padding-top: 20px;
    padding-left: 45px;
    font-size: 15;
}

.botton-cotizar1 {
    background-color: orange;
    color: black;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 140px;
}


}
.menu-padre {}
.menu-madre {}
.menu-hijo {
    position: relative;
    color: black;
    left: 800px;
    list-style: none;
    bottom: 45px;
    background-color: white;
}
.ingresar {
    background-color: orange;
    margin: 30px;
    padding: 10px 10px;
    border-radius: 15px;
}
li a {
    padding: 20px;
    position: relative;
}
.contenedor-imagen1 {
    padding-top: 300px;
    padding-bottom: 100px;
    background-color: white;
    width: 100%;
    height: 300px;
    text-align: center;
}
.inf-a {
    display: inline-block;
    height: 250px;
    width: 300px;
    text-align: center;
}
.inf-b {
    display: inline-block;
    height: 250px;
    width: 300px;
    text-align: center;
}
.inf-c {
    display: inline-block;
    height: 250px;
    width: 300px;
    text-align: center;
}
.img-servicios {
    height: 75%;
    width: 80%;
}
.img-nosotros {
    height: 75%;
    width: 80%;
}
.img-citas {
    height: 75%;
    width: 80%;
}
.clearfix {
    clear: both;
}
#content {
    float: left;
    width: 80%;
    min-height: 800px;
    background: #E6E6FA;
    padding: 0px;
}
#content2 {
    float: left;
    width: 100%;
    min-height: 800px;
    background: #E6E6FA;
    padding: 0px;
}
.article:first-child {
    border-top: 1px solid #eee;
}
.article h2 {
    font-size: 25px;
}
.article p {
    color: black;
}
.article {
    color: #FFA500;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.article2 {
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
aside {
    float: left;
    width: 20%;
    min-height: 800px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
}
footer {
    float: left;
    left: 50px;
    width: 100%;
    height: 50px;
    background: 50px black;
    color: white;
    text-align: center;
    padding: 0px;
}
#productos li {
    list-style: none;
    overflow: hidden;
}
.producto1 p {
    color: blue;
}
#productos ul[id|=f_] li {
    display: inline
}
#productos ul[id|=f_] li:nth-child(4):before {
    display: block;
    content: '';
}
#productos li.list_root {
    padding-bottom: 20px;
}