* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: sans-serif, Arial, Helvetica;
    scroll-behavior: smooth;
}

#container {
    width: 100%;
    margin: 0px;
    /* border: 1px solid black; */
}


/* navegacion cabecera inicio  */


/* primer bloque */

header {
    position: fixed;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 5px #ffcc00;
    width: 100%;
    z-index: 1;
}

.navegacion {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.navegacion .menu-principal {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 70px; */
    width: 900px;
    /* position: absolute; */
    /* top: 30px; */
    /* left: 300px; */
}

#logo {
    display: flex;
    height: 80px;
    padding-right: 40%;
    /* float: left; */
    /* margin-left: 150px; */
    /* position: relative; */
    /* justify-content: center; */
    /* left: -550px; */
    /* top: -30px; */
}

.menu-principal .item-menu {
    display: flex;
    height: 100%;
    width: 130px;
    justify-content: center;
    align-items: center;
}

.menu-principal .item-menu a {
    /* text-transform: uppercase; */
    /* margin: 20px 20px; */
    text-decoration: none;
    color: black;
    height: 100%;
    width: 130px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#navegacion ul li {
    /* propiedad obligarotia para que el sub-menu respete desaparecer el sub-menu 
    position: relative; */
    /* position: absolute; */
    /* float: left; */
}

.navegacion a:hover {
    /* color: orange; */
    background: #00bcd4;
    /* border-bottom: solid 2px cadetblue; */
}

#ingresar {
    background-color: #ffcc00;
    border-radius: 15px;
    color: black;
    padding: 1px;
    height: 40px;
}

#ingresar:hover {
    background-color: rgb(143, 143, 143);
    color: black;
}


/* sub-menu-quienes-somos inicio */

.sub-menu-quienes-somos {
    /* display: none; */
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -205px;
    display: none;
}

.sub-menu-quienes-somos .sub-item-menu-quienes-somos {
    list-style: none;
    background-color: white;
    border-bottom: solid 1px orange;
    margin-left: 80px;
}

.sub-menu-quienes-somos .sub-item-menu-quienes-somos a {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}


/* sub-menu-servicio inicio */

.sub-menu-servicios {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -308px;
    display: none;
}

.sub-menu-servicios .sub-item-menu-servicios {
    list-style: none;
    background-color: white;
    border-bottom: solid 1px orange;
    margin-left: 80px;
    /* padding-top: 15px; */
    /* padding-right: 60px; */
    /* padding-bottom: 15px; */
}

.sub-menu-servicios .sub-item-menu-servicios a {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.navegacion ul li:hover>ul {
    display: flex;
    transition: 0.5s;
}

.navegacion ul ul li a:hover {
    background-color: #00bcd4;
    transition: 0.5s;
}

.separador {
    height: 81px;
    margin: none;
    padding: none;
    border: none;
}


/* seccion-2 */


/* slide */

.slide-contenedor {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide-contenedor ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s linear infinite alternate;
}

.slide-contenedor li {
    width: 100%;
    list-style: none;
}

.slide-contenedor img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}


/* slide */

.portadaheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 600px; */
    /* background: url(imagenes/portadaheader.png) center; */
    /* background-size: 100%; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: scroll; */
}

.texto-p-portadaheader {
    display: flex;
    color: black;
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
    /* border: solid 1px black; */
    /* position: sticky; */
    /* top: 30%; */
    /* background-color: #2980B9; */
}

.contenedor-texto {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.texto-h3-portadaheader {
    display: flex;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.texto-h3-portadaheader a {
    /* background-color: #ff9900; */
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    /* box-shadow: 0 0 15px rgb(255, 132, 0); */
}


/* .texto-h3-portadaheader a:hover {
    background-color: #ff9900;
    transition-duration: 0.3s;
} */

.botton-cotizar1 {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
}

.botton-cotizar1 a {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    /* box-shadow: 0 0 15px teal; */
    border: solid 1px black;
    background-color: #ffcc00;
}

.botton-cotizar1 a:hover {
    background-color: transparent;
    background-color: #00bcd4;
    transition-duration: 0.3s;
}


/* esta portada es la pagina 2 */

.portadaheader2 {
    height: 600px;
    width: 100%;
    /* top: 100%;
    left: 0.5px; */
    background: url(/imagenes/quienes_somos.jpg) center;
    background-size: 100%;
}

.caja-pag-productos {
    background-color: cyan;
    height: 500px;
    bottom: 50px;
}

.caja-pag-contactos {
    background-color: yellow;
    height: 500px;
}

.pag-contactos {
    font-size: 75px;
    text-align: center;
}

.pag-productos {
    font-size: 75px;
    text-align: center;
}


/* seccion-3 */

.contenedor-imagen-seccion3 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* height: 400px; */
    position: relative;
    display: flex;
    justify-content: center;
}

.contenedor-imagen-seccion3 .seccion {
    width: 100%;
    /* height: 300px; */
    justify-content: center;
    background-color: white;
    border-left-width: 0px;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #00bcd4; */
}

.contenedor-imagen-seccion3 .seccion div {
    /* max-width: 250px; */
    display: inline-block;
    width: 250px;
    height: 250px;
    border-left-width: 0px;
    box-shadow: 0 0 5px rgb(114, 114, 114);
    /* top: -50px; */
    left: 0;
    right: 0;
    /* margin: 5px; */
    background-color: white;
    /* border: solid 1px gray; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
    border-radius: 5px;
}

.contenedor-imagen-seccion3 div img {
    width: 100px;
    height: 100px;
    display: flex;
}

.contenedor-imagen-seccion3 div h3 {
    display: flex;
    font-size: 25px;
}

.contenedor-imagen-seccion3 div .titulo {
    color: rgb(0, 0, 0);
    /* background-color: #ff9900; */
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bolder;
}

.contenedor-imagen-seccion3 div p {
    /* position: absolute; */
    /* display: inline-flex; */
    /* text-align: start; */
    margin: 5px;
    /* height: 100%; */
    /* position: absolute; */
    display: flex;
    /* background-color: #00bcd4; */
}

.contenedor-imagen-seccion3 .seccion div:hover {
    transition-duration: 00.3s;
    box-shadow: 0 0 20px #00bcd4;
    /* border: solid 5px #00bcd4; */
    margin-top: 5px;
    /* border-bottom: solid 10px orange; */
}

.img-servicios {
    height: 100%;
    width: 100%;
}

.img-nosotros {
    height: 100%;
    width: 100%;
}

.img-citas {
    height: 100%;
    width: 100%;
}

.img-clientes {
    height: 100%;
    width: 100%;
}


/* seccion 4 inicio  */

.contenedor-texto-seccion4 {
    display: flex;
    width: 100%;
    /* height: 400px; */
    background-color: transparent;
    justify-content: center;
    /* border: solid 1px rgb(223, 0, 0); */
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.seccion4-derecha {
    display: flex;
    background: url(/imagenes/quienes-somos1.jpg) center;
    background-size: 100%;
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 15px;
    /* display: inline-block; */
    /* float: left; */
    /* display: inline-block; */
}

.texto-seccion4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: gray; */
    width: 500px;
    height: 200px;
    margin-top: 30px;
    /* float: left; */
    /* padding-left: 70px; */
    /* padding-right: 70px; */
    /* padding-top: 80px; */
    /* display: inline-block; */
    /* vertical-align: top; */
}

.texto-seccion4 h1 {
    display: flex;
    /* padding-bottom: 20px; */
}

.texto-seccion4 p {
    display: flex;
    /* padding-bottom: 20px; */
}

.texto-seccion4 h3 {
    display: flex;
    justify-content: center;
    /* padding-bottom: 20px; */
    /* text-align: center; */
}

.texto-seccion4 a {
    background-color: #ffcc00;
}

.texto-seccion4 a:hover {
    background-color: #00bcd4
}

.contenedor-texto-seccion4 .contenedor-texto-seccion4 {
    background-color: burlywood;
}


/* seccion 5 de la pagina (nuestros servicios) */

.contenedor-texto-seccion5 {
    /* background-color: rgb(225, 225, 225); */
    width: 100%;
    height: 150px;
    position: relative;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.contenedor-texto-seccion5 h1 {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    margin-bottom: 40px;
    color: orange;
    font-size: 50px;
}

.contenedor-texto-seccion5 p {
    margin-bottom: 70px;
}


/* inicio seccion 6 */

.contenedor-texto-seccion6 {
    /* background-color: palegoldenrod; */
    width: 100%;
    /* height: 1500px; */
    position: relative;
    margin: auto;
    text-align: center;
    /* margin-top: 150px; */
    /* padding-top: 50px; */
}

.texto-seccion6 {
    width: 100%;
    /* height: 200px; */
    /* background-color: lawngreen; */
}

.texto-seccion6 h1 {
    padding: 30px;
    padding-right: 800px;
    font-size: 50px;
}

.texto-seccion6 p {
    /* background-color: rgb(189, 159, 169); */
    padding: 30px;
    /* padding-right: 520px; */
    font-size: 18px;
    color: rgb(148, 148, 148);
    text-align: center;
}

.sub-contenedor-texto-seccion6 {
    width: 100%;
    /* height: 350px; */
    position: relative;
    justify-content: center;
    /* background-color: red; */
    margin: auto;
    align-items: center;
    text-align: center;
    border-left-width: 0px;
    left: 0;
    right: 0;
    /* margin-bottom: 20px; */
}

.sub-contenedor-texto-seccion6 div {
    position: static;
    width: 400px;
    height: 350px;
    /* background-color: purple; */
    display: inline-block;
    margin: auto;
    border-left-width: 0px;
    /* border-bottom: solid 10px orange; */
    /* float: left; */
    box-shadow: 0 0 30px rgb(136, 136, 136);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 20px;
}

.sub-contenedor-texto-seccion6 div:hover {
    box-shadow: 0 0 30px orange;
    transition-duration: 0.3s;
}

.sub-contenedor-texto-seccion6 div article {
    width: 400px;
    height: 150px;
    /* background-color: white; */
    float: left;
    /* position: absolute; */
    top: 30px;
}

.sub-contenedor-texto-seccion6 div article img {
    margin-bottom: 30px;
    width: 120px;
    height: 120px;
}

.sub-contenedor-texto-seccion6 div article h2 {
    height: 30px;
    padding-bottom: 40px;
}

.sub-contenedor-texto-seccion6 div article p {
    height: 30px;
    padding-bottom: 30px;
}

.sub-contenedor-texto-seccion6 div article a {
    border-top: solid 1px rgb(160, 160, 160);
    border-bottom: solid 5px orange;
    padding-left: 0px;
    padding-right: 299px;
    padding-bottom: 43px;
    text-decoration: none;
    color: orange;
}


/* seccion 7 inicio  */

.contenedor-seccion-7 {
    display: flex;
    /* background-color: blueviolet; */
    width: 100%;
    height: 500px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
    /* justify-items: center; */
    /* text-align: center; */
}

.texto-seccion-7 {
    display: flex;
    /* background-color: cyan; */
    width: 1500px;
    /* height: 100px; */
    /* flex-direction: column; */
    padding-bottom: 100px;
    /* padding-right: 300px; */
    /* display: inline-block; */
    /* padding-right: 800px; */
    /* justify-content: flex-start; */
    /* align-content: center; */
    /* align-items: center; */
}

.texto-seccion-7 h1 {
    display: flex;
    /* background-color: chartreuse; */
    font-size: 50px;
    /* flex-wrap: wrap; */
    /* width: 300px; */
    /* height: 50px; */
    /* justify-content: flex-end; */
    /* align-items: center; */
}

.galeria-seccion-7 {
    /* background-color: chocolate; */
    /* width: 30px; */
    /* height: 100px; */
    display: flex;
    /* justify-content: flex-end; */
}

.galeria-seccion-7 img {
    display: flex;
    /* background-color: red; */
    width: 300px;
    height: 250px;
    /* border-right: solid 1px rgb(175, 175, 175); */
    margin: 15px;
}


/* vinieto */

.sub-contenedor-texto-seccion6 div div h2 {}

.sub-contenedor-texto-seccion6 div div p {}


/* -------------------------------------------------- */

footer {
    /* float: left; */
    /* left: 50px; */
    width: 100%;
    /* height: 200px; */
    background: 50px black;
    color: white;
    /* text-align: center; */
    padding: 0px;
    z-index: 3;
}

#footer_contactos {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px grey;
}

#seccion-contactos,
#seccion-horario,
#seccion-redes {
    margin: 30px 60px 30px 60px;
    width: 240px;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
}

#seccion-contactos h2,
#seccion-horario h2,
#seccion-redes h2 {
    color: #00bcd4;
}

#seccion-contactos p {
    display: flex;
}

#derechos-reservados {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
}

#productos li {
    list-style: none;
    overflow: hidden;
}

.producto1 p {
    color: blue;
}

#productos ul[id|=f_] li {
    display: inline
}

#productos ul[id|=f_] li:nth-child(4):before {
    display: block;
    content: '';
}

#productos li.list_root {
    padding-bottom: 20px;
}


/* -----------------------------

pagina quienes somos

---------------------------------- */

#main-doc {
    /* justify-content: center; */
    display: flex;
    margin: auto;
}

.main-section-1 {
    width: 20%;
    background-color: #00bcd4;
    text-align: center;
    position: fixed;
    height: 100%;
    font-size: 20px;
    /* border: solid 1px #00bcd4; */
    border-radius: 10px;
}

.main-section-2 {
    width: 80%;
    /* background-color: chartreuse; */
    text-align: left;
    display: flex;
    display: block;
    margin-left: 338px;
    font-size: 20px;
    padding: 3%;
}

#titulo-section-2 {
    font-size: 50px;
}

#header-section-1 {
    border-bottom: solid 1px black;
    /* margin-bottom: 40px; */
}

#nav-link {
    text-decoration: none;
    padding: 0;
}

#item-nav-link {
    border-bottom: solid 1px rgba(92, 92, 92, 0.467);
    list-style: none;
    text-decoration: none;
    display: flex;
    height: 80px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    color: black;
    /* padding-top: 20px; */
    /* padding-left: 20px; */
    /* box-shadow: 0 0 20px grey; */
    background-color: rgb(169, 169, 169);
}

#item-nav-link:hover {
    /* justify-content: left; */
    font-size: 25px;
}

#item-nav-link:hover {
    background-color: #00bcd4;
    transition: 0.80ms;
}

#cuadro-1 {
    border: solid 1px black;
    width: 700px;
    margin-left: 50px;
    background-color: blanchedalmond;
    padding: 20px;
}

@media (max-width: 975px) {
    #cuadro-1 {
        width: 400px;
    }
}

#Nuestra_Historia {
    padding-top: 80px;
}

#Mision {
    padding-top: 80px;
}

#Vision {
    padding-top: 80px;
}

#Valores {
    padding-top: 80px;
}