* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 100%;
    margin: 0px auto;
    /* border: 1px solid black; */
}


/* navegacion cabecera inicio  */


/* primer bloque */

header {
    position: fixed;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 15px teal;
    width: 100%;
}

.navegacion {
    height: 70px;
    width: 100%;
    position: relative;
}

.navegacion>ul {
    list-style: none;
    display: flex;
    justify-content: right;
    height: 70px;
    width: 1200px;
    position: absolute;
    top: 30px;
    left: 300px;
}

.navegacion ul li a {
    /* text-transform: uppercase; */
    margin: 20px 20px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#navegacion ul li {
    /* propiedad obligarotia para que el sub-menu respete desaparecer el sub-menu 
    position: relative; */
    position: absolute;
    float: left;
}

.navegacion a:hover {
    color: orange;
    border-bottom: solid 2px cadetblue;
}

#logo {
    height: 80px;
    float: left;
    margin-left: 150px;
}

.ingresar {
    background-color: orange;
    border-radius: 15px;
    color: black;
    padding: 1px;
}

.ingresar:hover {
    background-color: rgb(143, 143, 143);
    color: black;
}


/* sub-menu inicio */

.navegacion ul ul {
    display: none;
    position: absolute;
    bottom: -130px;
}

.navegacion ul li ul li {
    list-style: none;
    background-color: white;
    border-bottom: solid 1px orange;
    padding-top: 15px;
    padding-right: 60px;
    padding-bottom: 15px;
}

.navegacion ul ul a {
    /* opacity: 0.5; */
}

.navegacion ul li:hover>ul {
    display: block;
}

.navegacion ul ul li:hover {
    background-color: #2980B9
}


/* segundo bloque inicio */

.separador {
    height: 81px;
    margin: none;
    padding: none;
    border: none;
}

.portadaheader {
    width: 100%;
    height: 600px;
    top: 100%;
    left: 0.5px;
    background: url(imagenes/portadaheader.png) center;
    background-size: 100%;
}

.portadaheader2 {
    height: 600px;
    width: 100%;
    /* top: 100%;
    left: 0.5px; */
    background: url(/imagenes/quienes_somos.jpg) center;
    background-size: 100%;
}

.texto-p-portadaheader {
    color: black;
    padding-top: 300px;
    font-size: 40px;
    text-align: center;
}

.contenedor-texto {
    text-align: center;
}

.texto-h3-portadaheader {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.texto-h3-portadaheader a {
    background-color: #2980B9;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 15px teal;
}

.texto-h3-portadaheader a:hover {
    background-color: #5e9bc4;
}

.botton-cotizar1 {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.botton-cotizar1 a {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    /* box-shadow: 0 0 15px teal; */
    border: solid 1px black;
}

.botton-cotizar1 a:hover {
    background-color: transparent;
    background-color: white;
}

.caja-pag-productos {
    background-color: cyan;
    height: 500px;
    bottom: 50px;
}

.caja-pag-contactos {
    background-color: yellow;
    height: 500px;
}

.pag-contactos {
    font-size: 75px;
    text-align: center;
}

.pag-productos {
    font-size: 75px;
    text-align: center;
}


/* no se esta utilizando esta imagen  */


/* .img-portadaheader {
    width: 100%;
    top: 100%;
    height: 800px;
} */


}
.contenedor-imagen1 {
    padding-top: 300px;
    padding-bottom: 100px;
    background-color: white;
    width: 100%;
    height: 300px;
    text-align: center;
}
.inf-a {
    display: inline-block;
    height: 250px;
    width: 300px;
    text-align: center;
}
.inf-b {
    display: inline-block;
    height: 250px;
    width: 300px;
    text-align: center;
}
.inf-c {
    display: inline-block;
    height: 250px;
    width: 300px;
    text-align: center;
}
.img-servicios {
    height: 75%;
    width: 80%;
}
.img-nosotros {
    height: 75%;
    width: 80%;
}
.img-citas {
    height: 75%;
    width: 80%;
}
.clearfix {
    clear: both;
}
#content {
    float: left;
    width: 80%;
    min-height: 800px;
    background: #E6E6FA;
    padding: 0px;
}
#content2 {
    float: left;
    width: 100%;
    min-height: 800px;
    background: #E6E6FA;
    padding: 0px;
}
.article:first-child {
    border-top: 1px solid #eee;
}
.article h2 {
    font-size: 25px;
}
.article p {
    color: black;
}
.article {
    color: #FFA500;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.article2 {
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
aside {
    float: left;
    width: 20%;
    min-height: 800px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
}
footer {
    float: left;
    left: 50px;
    width: 100%;
    height: 50px;
    background: 50px black;
    color: white;
    text-align: center;
    padding: 0px;
}
#productos li {
    list-style: none;
    overflow: hidden;
}
.producto1 p {
    color: blue;
}
#productos ul[id|=f_] li {
    display: inline
}
#productos ul[id|=f_] li:nth-child(4):before {
    display: block;
    content: '';
}
#productos li.list_root {
    padding-bottom: 20px;
}